{% load static %} {% load bootstrap4 %}
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid"
  style="color: #fe019a"
>
  <a class="navbar-brand" href="/">BlockWatch</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
    <div class="input-group searchbar">
      <form method="POST" action="{% url 'Search' %}" name="Search">
        {% csrf_token %}
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search For A Business"
            name="BusinessSearch"
            style="width: 415px"
          />
        </div>
      </form>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'AddBusiness'  %}">B</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'AddNeighbourhood' %}">N</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'AddPost'  %}">P</a>
      </li>
    </ul>
  </div>
</nav>
